@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    margin:0;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Dancing Script', sans-serif;
    margin:0;
    align-items: center;
    
}

.quiz-container{
   width: 400px;
   background-color: azure;
   border-radius: 10px;
   box-shadow: 0 0 10px black;
   color:black;
}
.quiz-header{
    padding: 2rem;
}
h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    background-color: #5e3370;
    outline: none;
}